/* 전체적인 세팅 */
*{
    box-sizing:border-box;
    font-family: "Orbit", sans-serif;
}
html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}
.container{
    height:100%;
    background-color: #FBDB93;
}

/* 스크린 크기 조정*/
.chat-screen{
    height: calc(100% - 90px);
}

/* 유저 정보 표시되는 부분 */
.user{
    background-color: #BE5B50;
    padding: 16px;
    height: 80px;
}
.user_column{
    float: left;
}
.user_pic{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: #FBDB93;
}
.user_nick, .user_count{
    margin: 5px;
}
.user_count{
    font-size: 12px;
    color: #8A2D3B;
}

/* 채팅 입력 창 */
.chat-form{
    height: 90px;
    background-color: #ffffff;
}
.chat-form_field{
    height: 90px;
}
.chat-form_msg{
    float:left;
    width: calc(100%-105px);
    height: 90px;
    border: none;
    resize: none;
    font-size: 24px;
    padding: 10px;
}
.chat-form_bt{
    float:right;
    width: 100px;
    height: 60px;
    border: 5px solid #Ffffff;
    border-radius: 20px;
    background-color: #FBDB93;
    font-size: 18px;
    position: relative;
    top: 15px;
    right: 5px;
}

.chat-form_msg:focus{
    outline: none;
}

.chat-form_bt:active{
    background-color: #BE5B50;
}
